{% extends "layout.html" %}

{% block heading %}
<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect('http://127.0.0.1:5000');

        socket.on('message', function(data) {
            $("#messages").append('<li>'+data[1]+', '+data[2]+'</br>'+data[0]+'</li>');
            console.log('Received message');
        });

        $('#sendbutton').on('click', function() {
            var article = document.getElementById('channel');
            var channel = article.dataset.channel;
            // console.log(channel);
            var d = new Date().toUTCString();
            var mes = $('#myMessage').val();

            // send broadcast message
            socket.send(mes, d);

            $('#myMessage').val('');
            // send data to save in server side
            socket.emit('save message', channel, mes, d);
        });

        $('#deletebutton').on('click', function() {    
            var messages = document.querySelectorAll("#messages li");
            var lastIndex= messages.length - 1;  
            messages[lastIndex].parentNode.removeChild(messages[lastIndex]);

            /// delete message in server
            var article = document.getElementById('channel');
            var channel = article.dataset.channel;
            var index= messages.length
            socket.emit('delete message', channel, index);

        });    
    });

</script>

<h4 id="channel" data-channel="{{ channel_name }}"> Your channel: {{ channel_name }} </h4>

{% endblock %}
{% block body %}    

<h2>Notes:</h2> 
<ul id="messages">
    {% if channel_notes %}
        {% for k, v in channel_notes.items() %}
                <li> {{ v.date }}, {{ v.user }} </br> {{ v.text }} </li>
        {% endfor %}
    {% endif %}
</ul>
<input type="text" id="myMessage">
<button id="sendbutton">Send</button>
<button id="deletebutton">Delete</button>

{% endblock %}