{% extends "layout.html" %}

{% block heading %}
    Messaging Service
{% endblock %}

{% block body %}
	{% if user %}
	    <p>Hello {{ user }}!</p>
	    <form action="{{ url_for('logout') }}" method="get">
	        <button>Logout</button>
	    </form>

	    <h4> Channels: </h4>
	    <ul>
	        {% for channel in channels %}
	            <li><a href="{{ url_for('channelpage', channel_name=channel) }}">
                    {{ channel }}</a></li>
	        {% endfor %}
	    </ul>
		{{ last_chanel }}
	    <h4> Create a new channel </h4>
	    <form action="{{ url_for('channel') }}" method="post">
	    	<input type="text" name="channel" placeholder="New channel">
	        <button>New channel</button>
	    </form>

    {% else %}
	    <form action="{{ url_for('index') }}" method="post">
	    	<h4>Pleas login</h4>
	        <input type="text" name="name" placeholder="Enter Your Name"></br>
	        <button>Login</button><button>Sign up</button>
	    </form>
    {% endif %}
{% endblock %}